*{
  background-color: cornflowerblue;
}
body {
  font-family: Arial, sans-serif;
  background: #819ddb;
  text-align: center;
  padding: 20px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  scroll-behavior: smooth;
}
body{
  background-color:#6495ED;
}
header{
  background-color: darkblue;
  padding: 15px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav ul li{
  margin-left: 20px;
}
nav ul li a{
  color: lightblue;
  text-decoration: none;
}
a:hover{
  background-color: steelblue;

}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo{
  font-size: 2em;
  font-weight: bold;
}


.banner{
background: url(../img/banner2.jpg) no-repeat center/cover;
height: 400px;
display: flex;
margin-top: 100px;
align-items: center;
justify-content: center; 
color: rgb(255, 255, 255);
font-size: 1.5em;
text-align: center;
text-shadow: 8px 2px 5px #6495ED;
}

.musicas {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.musica {
  color: #ffffff;
  background-color: #2c4bb3;
  padding: 10px 15px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: grab;
  position: relative;
}

.albuns {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.album {
  width: 180px;
  height: 150px;
  border: 2px dashed #333;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.album.over {
  background-color: #d0ffd0;
}

.album.correct {
  background-color: #a0f0a0;
}
.album {
  width: 180px;
  min-height: 150px;
  border: 2px dashed #333;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.album .musica {
  margin-top: 10px;
  background-color: #c1f0c1;
  width: 100%;
  text-align: center;
  cursor: default;
}
  
@media (max-width:675px){
  header .container, .sobre-container{
      flex-direction: column;
      text-align: center;        
  }

  nav ul{
      margin-top: 10px;
      flex-direction: column;        
  }
  
  .banner{
      margin-top: 160px;
  }
  section{
      scroll-margin-top: 200px;
  }

  .modal{
      margin-top: 100px;
  } 
  
  .modal-content{
      max-height: 60vh;
  } 
}